<div class="flex justify-center">
  <div class="2xl:w-[70%] xl:w-[75%] w-[90%] my-10">
    <section class="md:my-40 my-10 flex flex-col items-center">
      <h2 class="text-blue-400 md:text-5xl text-3xl text-center font-black mb-3">
        Ángel de Jesús Sánchez Romero</h2>

      <p class="md:text-4xl mb-10 text-xl font-bold text-white text-center">Desarrollador Full Stack</p>

      <span class="flex gap-1 items-center font-thin text-white mb-2 group select-none font-semibold">
        Conoce a detalle sobre mí
        <img src="svgs/down-arrow.svg" class="size-3 group-hover:translate-y-1/5 transition" alt="">
      </span>
      <div class="flex justify-center gap-3 mb-10">
        <a href="https://www.linkedin.com/in/angelsr16/" target="_blank">
          <span
            class="flex items-center justify-center px-4 py-2 border-2 rounded-xl border-blue-500 hover:bg-blue-500 transition duration-150 ease-in">
            <i class="pi pi-linkedin text-slate-300 md:text-2xl text-lg"></i>
          </span>
        </a>

        <a href="https://github.com/angelsr16" target="_blank">
          <span
            class="text-lg flex items-center justify-center px-4 py-2 border-2 rounded-xl border-blue-500 hover:bg-blue-500 transition duration-150 ease-in">
            <i class="pi pi-github text-slate-300 md:text-2xl text-lg"></i>
          </span>
        </a>

        <a class="group" href="assets/cv.pdf" download="CV - Angel Sanchez.pdf">
          <span
            class="md:text-lg flex items-center justify-center text-slate-300 gap-1 px-4 py-2 border-2 rounded-xl border-blue-500 hover:bg-blue-500 transition duration-150 ease-in font-bold">
            CV
            <img src="svgs/file-download.svg" class="size-5 group-hover:translate-y-1/5 transition" alt="">
          </span>
        </a>
      </div>

      <hr class="w-12 text-blue-400 mb-10">

      <p class="text-lg text-white text-center font-thin mb-5">
        +5 años de experiencia.
        <span class="text-blue-300">
          Ingeniero en Sistemas y Desarrollador de Software
        </span>

      </p>

      <div class="w-full flex flex-wrap justify-center gap-3 md:px-0">
        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=react" alt="React" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=nextjs" alt="Next.js" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=angular" alt="Angular" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=tailwind" alt="TailwindCSS" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=ts" alt="Typescript" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=nodejs" alt="Node.js" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=python" alt="Python" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=fastapi" alt="FastAPI" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=postgresql" alt="PostgreSQL" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=prisma" alt="Prisma" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=mongodb" alt="MongoDB" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=redis" alt="Redis" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=docker" alt="Docker" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=aws" alt="AWS" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=firebase" alt="Firebase" />
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer md:w-16 w-8" src="https://skillicons.dev/icons?i=unity" alt="Unity" />
        </div>
      </div>
    </section>

    <hr class="my-10 text-slate-300">

    <!-- PROYECTOS -->
    <section class="text-slate-300 md:mb-20 mb-10">
      <h3 class="md:text-3xl text-xl font-bold mb-5">
        Proyectos Destacados.
      </h3>

      <!-- <div class="flex flex-wrap gap-2 my-10 xl:text-lg text-base">
        <div (click)="filterProjects(0)" [ngClass]="filterData.category === 0 ? 'bg-slate-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-slate-500 cursor-pointer text-slate-300 font-semibold border border-slate-500">
          Todos
        </div>

        <div (click)="filterProjects(1)" [ngClass]="filterData.category === 1 ? 'bg-slate-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-slate-500 cursor-pointer text-slate-300 font-semibold border border-slate-500">
          Destacados
        </div>

        <div (click)="filterProjects(2)" [ngClass]="filterData.category === 2 ? 'bg-slate-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-slate-500 cursor-pointer text-slate-300 font-semibold border border-slate-500">
          Sistemas web
        </div>

        <div (click)="filterProjects(4)" [ngClass]="filterData.category === 4 ? 'bg-gray-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-gray-500 cursor-pointer text-slate-300 font-semibold border border-slate-500">
          E-commerce
        </div>
      </div> -->

      <div class="grid grid-cols-1 gap-6">
        @for (project of projectsListToShow; track $index) {
        <div class="md:px-0 px-4 py-2">
          <h3 class="md:text-xl text-lg font-bold mb-4">{{project.title}}</h3>

          <div class="flex md:flex-row flex-col flex-col-reverse gap-6">
            <div class="lg:w-1/2 md:w-3/7 w-full">
              <p class="font-thin lg:text-lg mb-4">{{project.description}}</p>

              @if (project.githubLink !== '') {
              <a target="_blank" class="inline-flex gap-2 items-center underline text-lg font-bold"
                [href]="project.githubLink">
                <img class="size-5" src="svgs/github.svg" alt="">
                Más detalles sobre este proyecto...
              </a>

              }
            </div>

            <div class="lg:w-1/2 md:w-4/7 sm:h-82 h-54 w-full relative rounded-lg">

              <img [ngSrc]="project.images[project.currentImageIndex]" priority fill alt="project showcase"
                class="absolute inset-0 h-full object-cover w-full rounded-lg z-0" />

              <!-- Overlay -->
              <div
                class="group z-10 absolute inset-0 hover:bg-black/60 md:bg-transparent bg-black/60 flex items-center justify-between md:px-4 w-full rounded-lg">
                <img (click)="prevImage(project)" class="size-8 cursor-pointer" src="svgs/left-arrow.svg" alt="">
                <span (click)="currentProjectGallery = project"
                  class="flex items-center gap-1 underline cursor-pointer md:opacity-0 group-hover:opacity-100 text-white text-lg font-bold">
                  Pantalla Completa
                  <img src="svgs/maximize-icon.svg" class="size-4" alt="">
                </span>
                <img (click)="nextImage(project)" class="size-8 cursor-pointer" src="svgs/right-arrow.svg" alt="">
              </div>
            </div>
          </div>

          <div class="w-full flex justify-between items-end mt-5">
            <div class="flex flex-wrap gap-2 select-none">
              @for (techItem of project.techList; track $index) {
              <img class="cursor-pointer size-8" [src]="'https://skillicons.dev/icons?i=' + techItem.icon" alt="Tech" />
              }
            </div>
          </div>
        </div>

        <hr class="mb-5 text-slate-400">
        }
      </div>
    </section>

    <!-- SOBRE MÍ -->
    <section class="text-slate-300 md:mb-20 mb-10">
      <h3 class="md:text-3xl text-xl font-bold mb-5">
        Sobre Mí
      </h3>

      <div class="flex gap-10 lg:flex-row flex-col">
        <div class="lg:w-1/2 w-full">
          <p class="md:text-lg mb-3">
            Graduado del Instituto Tecnológico Superior de Xalapa y
            cuento con título de Ingeniero en Sistemas Computacionales
          </p>
          <p class="md:text-lg mb-3">
            Desarrollador de software con más de <b>5 años de experiencia</b> especializado en aplicaciones web
            Fullstack con
            <b>React, Next.js, Angular, Node.js/Express, Firebase y AWS</b>.
          </p>

          <p class="md:text-lg mb-3">
            Soy un profesional autodidacta, curioso y proactivo. Disfruto profundamente enfrentar desafíos complejos y
            construir productos con un propósito claro. Mi capacidad de adaptación rápida a nuevas tecnologías y mi
            enfoque
            en la solución de problemas aseguran que el software que entrego sea modular, mantenible y de alto impacto.
          </p>

          <p class="md:text-lg">Fuerte pasión por la tecnología y el desarrollo, incluyendo la programación de
            videojuegos como hobby personal</p>
        </div>

        <div class="lg:w-1/2 h-full w-full p-5 rounded-lg bg-gray-800 border-2 border-white">
          <h4 class="md:text-2xl text-xl font-bold mb-5">Experiencia Laboral</h4>

          <p class="font-thin md:text-xl mb-5">H. Ayuntamiento de San Juan Bautista Tuxtepec, Oaxaca.
            <span class="md:px-3 md:py-1 px-2 bg-blue-500 rounded-full font-thin inline-block">2021 - 2024</span>
          </p>

          <h5 class="md:text-xl text-lg font-bold">Proyectos destacados</h5>

          <ul class="mt-2">
            <li class="list-disc ml-5 md:text-lg">
              Plataforma Integral de Gestión de Obras Públicas (reconocida a nivel estatal por la OGAIPO)
            </li>
            <li class="list-disc ml-5 md:text-lg">
              Prototipo de Sistema de Monitoreo y Geolocalizaicón de Transporte Urbano
            </li>
          </ul>

        </div>
      </div>
    </section>

  </div>
</div>


@if (currentProjectGallery) {
<div class="z-10 md:p-20 px-5 fixed top-0 left-0 w-full h-screen bg-black/50 flex justify-center items-center">
  <div class="w-full h-full relative flex justify-center items-center">
    <img draggable="false" class="rounded-md" [src]="currentProjectGallery.images[currentImageIndex]" alt="">

    <div class="z-10 absolute inset-0 flex items-center justify-between md:p-10 px-2 w-full rounded-lg">
      <img (click)="currentProjectGallery = undefined"
        class="md:size-16 size-8 cursor-pointer bg-gray-500/30 rounded-md p-2 md:right-10 right-2 md:top-0 top-5 absolute"
        src="svgs/close-icon.svg" alt="">
      <img (click)="prevGalleryImage()" class="md:size-10 size-8 cursor-pointer bg-gray-500/30 rounded-md p-2"
        src="svgs/left-arrow.svg" alt="">
      <img (click)="nextGalleryImage()" class="md:size-10 size-8 cursor-pointer bg-gray-500/30 rounded-md p-2"
        src="svgs/right-arrow.svg" alt="">
    </div>
  </div>
</div>
}
