<div class="flex justify-center">
  <div class="2xl:w-[70%] xl:w-[80%] lg:w-[85%] w-[90%] my-20">
    <h2 data-aos="fade-right" data-aos-duration="1500" class="text-white text-4xl font-black mb-1">Ángel de Jesús
      Sánchez Romero</h2>
    <p data-aos="fade-right" data-aos-duration="1500" class="text-white text-2xl font-semibold mb-4">Ingeniero en
      Sistemas Computacionales | Desarrollador de Software
    </p>

    <span data-aos="fade-right" data-aos-duration="1500" class="flex items-center gap-2 text-xl text-white mb-4">
      <i class="pi pi-map-marker"></i>
      Oaxaca, México.
    </span>

    <section class="flex md:flex-row flex-col gap-5 md:items-center mb-10">
      <span data-aos="fade-up" data-aos-duration="1500"
        class="text-white flex items-center gap-2 px-3 py-2 bg-blue-900 rounded-2xl">
        <i class="pi pi-envelope" style="font-size: 1.5em;"></i>
        angelsanchezromero09&#64;gmail.com
      </span>

      <a data-aos="fade-up" data-aos-duration="1500" data-aos-delay="150" href="https://www.linkedin.com/in/angelsr16/"
        target="_blank">
        <span
          class="flex items-center justify-center px-4 py-2 border-2 rounded-2xl border-blue-900 hover:bg-blue-900 transition duration-250 ease-in">
          <i class="pi pi-linkedin text-white" style="font-size: 1.5rem;"></i>
        </span>
      </a>

      <a data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300" href="https://github.com/angelsr16"
        target="_blank">
        <span
          class="flex items-center justify-center px-4 py-2 border-2 rounded-2xl border-blue-900 hover:bg-blue-900 transition duration-250 ease-in">
          <i class="pi pi-github text-white" style="font-size: 1.5rem;"></i>
        </span>
      </a>

      <a data-aos="fade-up" data-aos-duration="1500" data-aos-delay="450" href="assets/cv.pdf" download="My_CV.pdf">
        <span
          class="flex items-center justify-center text-white gap-3 px-4 py-2 border-2 rounded-2xl border-blue-900 hover:bg-blue-900 transition duration-250 ease-in">
          CV
          <i class="pi pi-file-export text-white" style="font-size: 1.3rem;"></i>
        </span>
      </a>
    </section>

    <section data-aos="zoom-in" data-aos-duration="1500" class="text-white">
      <h3 class="text-3xl font-bold mb-2">Sobre mí</h3>

      <p class="xl:text-2xl md:text-xl font-thin">
        Desarrollador de software con pasión por resolver problemas complejos y crear soluciones eficientes. Destaco por
        mi lógica computacional, proactividad y enfoque en la eficiencia. Disfruto los retos, aprender constantemente y
        explorar nuevas tecnologías. Como hobby, también me apasiona el desarrollo de videojuegos.
      </p>
    </section>

    <hr class="my-10 text-cyan-900">

    <section class="text-white mb-20">
      <h3 class="text-3xl font-bold mb-5">
        Tecnologías.
      </h3>

      <div class="w-full flex flex-wrap gap-3 select-none">
        <div data-aos="fade-up" data-aos-duration="800"
          class="px-4 py-2 border-2 border-blue-900 flex gap-3 items-center rounded-xl hover:bg-blue-900 transition-all duration-500">
          <i class="devicon-angular-plain md:text-2xl text-lg"></i>
          <span class="md:text-xl font-semibold">Angular</span>
        </div>

        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="150"
          class="px-4 py-2 border-2 border-blue-900 flex gap-3 items-center rounded-xl hover:bg-blue-900 transition duration-450">
          <i class="devicon-firebase-plain md:text-2xl text-lg"></i>
          <span class="md:text-xl font-semibold">Firebase</span>
        </div>

        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300"
          class="px-4 py-2 border-2 border-blue-900 flex gap-3 items-center rounded-xl hover:bg-blue-900 transition duration-450">
          <i class="devicon-mongodb-plain md:text-2xl text-lg"></i>
          <span class="md:text-xl font-semibold">MongoDB</span>
        </div>

        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="450"
          class="px-4 py-2 border-2 border-blue-900 flex gap-3 items-center rounded-xl hover:bg-blue-900 transition duration-450">
          <i class="devicon-tailwindcss-plain md:text-2xl text-lg"></i>
          <span class="md:text-xl font-semibold">Tailwind</span>
        </div>

        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="600"
          class="px-4 py-2 border-2 border-blue-900 flex gap-3 items-center rounded-xl hover:bg-blue-900 transition duration-450">
          <i class="devicon-python-plain md:text-2xl text-lg"></i>
          <span class="md:text-xl font-semibold">Python</span>
        </div>

        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="750"
          class="px-4 py-2 border-2 border-blue-900 flex gap-3 items-center rounded-xl hover:bg-blue-900 transition duration-450">
          <i class="devicon-fastapi-plain md:text-2xl text-lg"></i>
          <span class="md:text-xl font-semibold">FastAPI</span>
        </div>

        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="900"
          class="px-4 py-2 border-2 border-blue-900 flex gap-3 items-center rounded-xl hover:bg-blue-900 transition duration-450">
          <i class="devicon-unity-plain md:text-2xl text-lg"></i>
          <span class="md:text-xl font-semibold">Unity</span>
        </div>
      </div>

    </section>

    <section class="text-white mb-20">
      <h3 class="text-3xl font-bold mb-5">
        Proyectos.
      </h3>

      @for (project of projects; track $index) {
      <div data-aos="fade-right" data-aos-duration="800" class="lg:flex 2x-gap-20 gap-10 mb-15">
        <div class="xl:w-2/3 lg:w-1/2 w-full lg:mb-0 mb-10 flex flex-col justify-between">
          <div class="flex flex-col">
            <h4 class="text-3xl font-semibold mb-2">
              {{ project.title }}
            </h4>

            <p class="xl:text-2xl md:text-xl text-lg font-thin">
              {{ project.description }}
            </p>
          </div>

          <div class="flex flex-col">

            <div class="flex flex-wrap gap-2 mt-3 select-none">
              @for (techItem of project.techList; track $index) {
              <span class="px-3 py-1 flex items-center font-black gap-2 rounded-2xl bg-sky-800">
                <i [class]="techItem.icon" class="text-xl"></i>
                {{ techItem.title }}
              </span>
              }
            </div>

            @if (project.githubLink !== '') {
            <br>
            <a [href]="project.githubLink" target="_blank" class="flex items-center gap-2 text-lg">
              <span class="font-thin underline">
                Repositorio GitHub
              </span>
              <i class="devicon-github-original"></i>
            </a>
            }
          </div>

        </div>

        <div class="xl:w-1/3 lg:w-1/2 w-full relative">
          <div class="w-full h-60 sm:h-72 md:h-120 lg:h-86 2xl:h-80 bg-blue-500 rounded-xl 2xl:p-5 p-2 relative">

            <div class="w-full h-full bg-gray-600 -rotate-3 2xl:scale-115 lg:scale-105 rounded-xl"></div>
            <img class="absolute top-0 left-0 w-full h-full rounded-xl object-fit object-center"
              [src]="project.images[project.currentImageIndex]" alt="" draggable="false">
          </div>
          <div class="w-full flex items-center justify-between mt-5">
            <!-- <i (click)="handlePreviousImage(project)" class="pi pi-angle-left cursor-pointer"
              style="font-size: 2rem;"></i> -->
            <!-- <span>
              {{ project.currentImageIndex + 1 }} of {{ project.images.length }}
            </span> -->
            <div class="flex overflow-auto scrollbar-hide gap-2">
              @for (image of project.images; track $index) {
              <img draggable="false" (click)="project.currentImageIndex = $index" [src]="image"
                class="size-16 rounded-xl cursor-pointer" alt="">
              }
            </div>
            <!-- <i (click)="handleNextImage(project)" class="pi pi-angle-right cursor-pointer" style="font-size: 2rem;"></i> -->
          </div>
        </div>
      </div>
      }

    </section>

    <section data-aos="fade-right" data-aos-duration="1500" class="text-white mb-20">
      <h3 class="text-3xl font-bold lg:mb-2 mb-10">Experiencia Laboral</h3>

      <div class="flex md:flex-row flex-col flex-col-reverse md:gap-10 gap-4 xl:text-xl text-lg">
        <div class="flex-1">
          <div class="mb-3">
            <h4 class="text-xl">
              Sistema Integral de Obras Públicas
            </h4>
            <p class="font-thin">H. Ayuntamiento de San Juan Bautista Tuxtepec, Oaxaca.</p>
          </div>

          <div class="mb-3">
            <p>
              Portal centralizado para la gestión administrativa de obras públicas internas del municipio.
            </p>
            <p>
              Sistema reconocido a nivel estatal por el OGAIPO y por el u-Gob por Innovación Digital en Gobiernos.
            </p>
          </div>

          <ul class="list-disc ml-10">
            <li class="mb-1">
              Desarrollé módulos para el registro, control y consulta de obras, facilitando la gestión entre múltiples
              áreas administrativas.
            </li>

            <li class="mb-1">
              Diseñé un portal público con geolocalización, evidencias fotográficas y montos ejecutados para mayor
              transparencia.
            </li>

            <li class="mb-1">
              Implementé un sistema de roles con distintos niveles de acceso y control de datos.
            </li>

            <li class="mb-1">
              Capacité a más de 30 empleados, logrando una adopción del 95% gracias a la optimización de procesos y
              mejor acceso a la información.
            </li>

            <li class="mb-1">
              Automaticé procesos administrativos clave (nómina, control de facturas, proveedores y contratos),
              reduciendo el
              tiempo de elaboración en un 70% y errores humanos en un 90%, con exportación a Excel y PDF.
            </li>

          </ul>
        </div>
        <div>
          <span class="px-3 py-1 bg-sky-600 rounded-xl">2021 - 2024</span>
        </div>
      </div>
    </section>



    <section class="text-white">
      <h3 class="text-3xl font-bold mb-10">
        Formación Académica.
      </h3>

      <div class="flex md:flex-row md:gap-1 gap-10 flex-col-reverse justify-between w-full">
        <div data-aos="zoom-in" data-aos-duration="800" class="flex-1">
          <div class="flex gap-10">
            <i class="pi pi-graduation-cap" style="font-size: 3rem;"> </i>
            <div>
              <h4 class="xl:text-2xl text-lg font-bold">
                Instituto Tecnológico Superior de Xalapa
              </h4>

              <p class="xl:text-xl text-lg">Ingeniería en Sistemas Computacionales</p>

            </div>
          </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="800" class="justify-end">
          <span class="px-3 py-1 bg-sky-600 rounded-xl">2018 - 2024</span>
        </div>
      </div>
    </section>

  </div>
</div>