<div class="flex justify-center">
  <div class="2xl:w-[50%] w-[85%] my-10">
    <h2 class="text-white text-2xl  font-black mb-1">Ángel
      de Jesús
      Sánchez Romero</h2>

    <p class="text-white text-xl mb-1">
      Ingeniero en Sistemas Computacionales
    </p>

    <p class="text-white text-xl mb-4">
      Apasionado desarrollador Full-Stack, creando soluciones web que combinan funcionalidad y una experiencia de
      usuario excepcional.
    </p>

    <span class="flex items-center gap-2 xl:text-xl md:text-lg text-base text-white mb-4">
      <i class="pi pi-map-marker"></i>
      Tuxtepec, Oaxaca.
    </span>

    <section class="flex flex-wrap gap-2 md:items-center mb-10">
      <span class="md:w-auto w-full text-white flex items-center gap-2 px-3 py-2 bg-gray-900 rounded-2xl">
        <i class="pi pi-envelope" style="font-size: 1.5em;"></i>
        angelsanchezromero09&#64;gmail.com
      </span>

      <a href="https://www.linkedin.com/in/angelsr16/" target="_blank">
        <span
          class="flex items-center justify-center px-4 py-2 border-2 rounded-2xl border-slate-900 hover:bg-gray-900 transition duration-250 ease-in">
          <i class="pi pi-linkedin text-white" style="font-size: 1.5rem;"></i>
        </span>
      </a>

      <a href="https://github.com/angelsr16" target="_blank">
        <span
          class="flex items-center justify-center px-4 py-2 border-2 rounded-2xl border-slate-900 hover:bg-gray-900 transition duration-250 ease-in">
          <i class="pi pi-github text-white" style="font-size: 1.5rem;"></i>
        </span>
      </a>

      <a href="assets/cv.pdf" download="My_CV.pdf">
        <span
          class="flex items-center justify-center text-white gap-3 px-4 py-2 border-2 rounded-2xl border-slate-900 hover:bg-gray-900 transition duration-250 ease-in">
          CV
          <i class="pi pi-file-export text-white" style="font-size: 1.3rem;"></i>
        </span>
      </a>
    </section>

    <section class="text-white">
      <h3 class="text-2xl font-bold mb-2">Sobre mí</h3>

      <p class="text-xl font-thin">
        Soy Ingeniero en Sistemas Computacionales con más de 5 años de experiencia en el desarrollo de aplicaciones web
        y móviles. Me especializo en crear soluciones escalables, seguras y enfocadas en la experiencia de usuario,
        combinando frontend moderno con backend robusto. Además, disfruto explorar la creatividad desarrollando
        videojuegos, lo que aporta innovación a mi trabajo profesional.
      </p>
    </section>

    <hr class="my-10 text-cyan-900">

    <section class="text-white mb-20">
      <h3 class="text-2xl font-bold mb-5">
        Tecnologías.
      </h3>

      <div class="flex flex-wrap gap-5">
        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=angular" alt="Angular" />
          Angular
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=react" alt="React" />
          React
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=nextjs" alt="Next.js" />
          Next.js
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=tailwind" alt="TailwindCSS" />
          Tailwind
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=ts" alt="Typescript" />
          Typescript
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=nodejs" alt="Node.js" />
          Node.js
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=python" alt="FastAPI" />
          Python
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=mongodb" alt="MongoDB" />
          MongoDB
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=redis" alt="Redis" />
          Redis
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=docker" alt="Docker" />
          Docker
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=aws" alt="AWS" />
          AWS
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=firebase" alt="Firebase" />
          Firebase
        </div>

        <div class="flex flex-col justify-center items-center gap-1">
          <img class="cursor-pointer" src="https://skillicons.dev/icons?i=unity" alt="Unity" />
          Unity
        </div>
      </div>

    </section>

    <section class="text-white mb-20">
      <h3 class="text-2xl font-bold mb-5">
        Proyectos Personales.
      </h3>

      <div class="flex flex-wrap gap-2 my-10 xl:text-lg text-base">
        <div (click)="filterProjects(0)" [ngClass]="filterData.category === 0 ? 'bg-slate-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-slate-500 cursor-pointer text-white font-semibold border border-slate-500">
          Todos
        </div>

        <div (click)="filterProjects(1)" [ngClass]="filterData.category === 1 ? 'bg-slate-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-slate-500 cursor-pointer text-white font-semibold border border-slate-500">
          Destacados
        </div>

        <div (click)="filterProjects(2)" [ngClass]="filterData.category === 2 ? 'bg-slate-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-slate-500 cursor-pointer text-white font-semibold border border-slate-500">
          Sistemas web
        </div>

        <!-- <div (click)="filterProjects(3)" [ngClass]="filterData.category === 3 ? 'bg-gray-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-gray-500 cursor-pointer text-white font-semibold border border-slate-500">
          Sitios web
        </div> -->

        <div (click)="filterProjects(4)" [ngClass]="filterData.category === 4 ? 'bg-gray-500' : ''"
          class="rounded-2xl px-4 py-2 hover:bg-gray-500 cursor-pointer text-white font-semibold border border-slate-500">
          E-commerce
        </div>
      </div>

      @for (project of projectsListToShow; track $index) {
      <div class="lg:flex 2x-gap-20 gap-10 mb-15">
        <div class="lg:w-1/2 w-full lg:mb-0 mb-10 flex flex-col justify-between">
          <div class="flex flex-col">
            <h4 class="text-2xl font-semibold mb-2">
              {{ project.title }}
            </h4>

            <p class="text-lg font-thin">
              {{ project.description }}
            </p>
          </div>

          <div class="flex flex-col">

            <div class="flex flex-wrap gap-2 mt-3 select-none">
              @for (techItem of project.techList; track $index) {
              <span class="px-3 py-1 flex items-center font-black gap-2 rounded-2xl bg-gray-800">
                <i [class]="techItem.icon" class="text-xl"></i>
                {{ techItem.title }}
              </span>
              }
            </div>

            @if (project.githubLink !== '') {
            <br>
            <a [href]="project.githubLink" target="_blank" class="flex items-center gap-2 text-lg">
              <span class="font-thin underline">
                Repositorio GitHub
              </span>
              <i class="devicon-github-original"></i>
            </a>
            }

            @if (project.websiteLink !== '') {
            <br>
            <a [href]="project.websiteLink" target="_blank" class="flex items-center gap-2 text-lg">
              <span class="font-thin underline">
                {{ project.websiteTitle }}
              </span>
            </a>
            }


          </div>

        </div>

        <div class="lg:w-1/2 w-full relative">
          <div class="w-full h-60 sm:h-72 md:h-120 lg:h-72 2xl:h-86 bg-gray-500 rounded-xl 2xl:p-5 p-2 relative">

            <div class="w-full h-full bg-gray-600 -rotate-3 2xl:scale-115 lg:scale-105 rounded-xl"></div>
            <img class="absolute top-0 left-0 w-full h-full rounded-xl object-fit object-center"
              [src]="project.images[project.currentImageIndex]" alt="" draggable="false">
          </div>
          <div class="w-full flex items-center justify-between mt-5">
            <div class="flex overflow-auto scrollbar-hide gap-2">
              @for (image of project.images; track $index) {
              <img draggable="false" (click)="project.currentImageIndex = $index" [src]="image"
                class="size-16 rounded-xl cursor-pointer" alt="">
              }
            </div>
          </div>
        </div>
      </div>
      }

    </section>

    <section class="text-white mb-20">
      <h3 class="text-2xl font-bold lg:mb-2 mb-10">Experiencia Laboral</h3>

      <div class="flex md:flex-row flex-col flex-col-reverse md:gap-10 gap-4 text-lg">
        <div class="flex-1">
          <div class="mb-3">
            <h4 class="text-xl">
              Sistema Integral de Obras Públicas
            </h4>
            <p class="font-thin">H. Ayuntamiento de San Juan Bautista Tuxtepec, Oaxaca.</p>
          </div>

          <div class="mb-3">
            <p>
              Portal centralizado para la gestión administrativa de obras públicas internas del municipio.
            </p>
            <p>
              Sistema reconocido a nivel estatal por el OGAIPO y por el u-Gob por Innovación Digital en Gobiernos.
            </p>
          </div>

          <ul class="list-disc xl:ml-10 ml-3 text-lg md:text-base text-sm">
            <li class="mb-1">
              Desarrollé módulos para el registro, control y consulta de obras, facilitando la gestión entre múltiples
              áreas administrativas.
            </li>

            <li class="mb-1">
              Diseñé un portal público con geolocalización, evidencias fotográficas y montos ejecutados para mayor
              transparencia.
            </li>

            <li class="mb-1">
              Implementé un sistema de roles con distintos niveles de acceso y control de datos.
            </li>

            <li class="mb-1">
              Capacité a más de 30 empleados, logrando una adopción del 95% gracias a la optimización de procesos y
              mejor acceso a la información.
            </li>

            <li class="mb-1">
              Automaticé procesos administrativos clave (nómina, control de facturas, proveedores y contratos),
              reduciendo el
              tiempo de elaboración en un 70% y errores humanos en un 90%, con exportación a Excel y PDF.
            </li>

          </ul>
        </div>
        <div>
          <span class="px-3 py-1 bg-gray-600 rounded-xl">2021 - 2024</span>
        </div>
      </div>
    </section>



    <section class="text-white mb-15">
      <h3 class="text-2xl font-bold mb-10">
        Formación Académica.
      </h3>

      <div class="flex md:flex-row md:gap-1 gap-10 flex-col-reverse justify-between w-full">
        <div class="flex-1">
          <div class="flex gap-10">
            <i class="pi pi-graduation-cap" style="font-size: 2.6rem;"> </i>
            <div>
              <h4 class="text-lg font-bold">
                Instituto Tecnológico Superior de Xalapa
              </h4>

              <p class="xl:text-xl text-lg">Ingeniería en Sistemas Computacionales</p>

            </div>
          </div>
        </div>

        <div class="justify-end">
          <span class="px-3 py-1 bg-gray-600 rounded-xl">2018 - 2024</span>
        </div>
      </div>
    </section>

  </div>
</div>
